{% extends 'main.html' %}


{% block contenu %}

<div class="contenu">Add a person</div>

<div class="container">
    <table class="table table-sm">
        <div class="col">
            <form action="" method="post">

                {% csrf_token %}

                {{ form.as_table}}
                <th><input type="submit" class="btn btn-primary mb-2" style="float: right;" name="Save"></th>
            </form>

        </div>

    </table>

</div>

<style>
.contenu {
   width:1000px;
   background: #008000;
   margin:auto;
   margin-top: 1em;
   text-align: center;
   color : white;
}
</style>
{% endblock %}
