<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h3> GEOTRAC </h3>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>

                  <a href="https://www.lsce.ipsl.fr/index.php">LSCE</a>


            </div>

            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Address</h4>
                <p>Orme des Merisiers, Bat 714, 91190 Saint-Aubin</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i> 01 69 08 04 22</p>
                <p><i class="fa fa-envelope-o mr-3"></i>fthil@lsce.ipsl.fr</p>
            </div>
        </div>
    </div>
</div>
<!--/.footer-bottom-->
<style>

.footer{
  background: #5cb85c;
  color:white;
  bottom:0;
  width:100%;



  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

</style>
</footer>



